{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResumeMaker</title>

    <link rel="stylesheet" href="{% static 'css/exit.css' %}">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>

    <div class="logout-modal">

        <div class="logout-card">

            <div class="warning-icon">
                <i class="fa-solid fa-triangle-exclamation"></i>
            </div>

            <h2>Logout</h2>

            <p>
                Are you sure you want to logout from your account?
            </p>

            <div class="button-group">

                <button class="cancel-btn">
                    <a href="{% url 'dashboard' %}" style="text-decoration: none;">Cancel</a>
                </button>

                <a href="{% url 'confirm_logout' %}" class="confirm-btn">
                Confirm
                </a>

            </div>

        </div>

    </div>

</body>
</html>