*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0c1c74,#2d0b7b,#0066ff);
}

.login-box{
    width:380px;
    padding:50px 40px;
    border:2px solid rgba(255,255,255,.7);
    border-radius:25px;
    background:rgba(255,255,255,.05);
    backdrop-filter:blur(12px);
    box-shadow:0 0 20px #00e5ff;
}

.profile{
    width:90px;
    height:90px;
    margin:auto;
    border-radius:50%;
    border:2px solid #00e5ff;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    font-size:35px;
    margin-bottom:40px;
}

.input-box{
    display:flex;
    align-items:center;
    border-bottom:1px solid rgba(255,255,255,.8);
    margin-bottom:30px;
    color:#fff;
}

.input-box i{
    margin-right:12px;
    font-size:18px;
}

.input-box input{
    width:100%;
    padding:12px 5px;
    background:transparent;
    border:none;
    outline:none;
    color:white;
    font-size:16px;
}

.input-box input::placeholder{
    color:#ddd;
}

input[type="date"]{
    color:#ddd;
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:30px;
    font-size:18px;
    color:white;
    cursor:pointer;
    background:linear-gradient(to right,#00bfff,#5f27cd);
    transition:.3s;
}

button:hover{
    transform:scale(1.03);
    box-shadow:0 0 20px #00e5ff;
}